* {
  box-sizing: border-box; /* Avoid extra box model calculations */
  margin: 0; /* Full control over margins of all elements */
}

body {
  font-size: 100%; /* Allow for uniform text sizing across browsers (pixels / 16 = em) */
}

div.weather-parent {
  width: fit-content;
  margin: auto;
  background-color: yellow;
  border: solid 3px black;
  border-radius: 5px;

  display: flex;
  flex-flow: column nowrap;
}

div.widget-main {
  width: 500px;
  margin: auto;
  padding: 10px;
  background-color: #61dafb;
}

div.widget-bottom {
  border-top: solid 3px black;
}

h2, h3 {
  color: white;
  text-align: center;
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
  text-align: center;
}

img.icon {
  margin: auto;
  display: block;
}

p.center {
  text-align: center;
  font-size: 1.15em;
}