* {
  box-sizing: border-box; /* Avoid extra box model calculations */
  margin: 0; /* Full control over margins of all elements */
}

body {
  font-size: 100%; /* Allow for uniform text sizing across browsers (pixels / 16 = em) */
}

div.weather-parent {
  width: 90%;
  margin: auto;
  background-color: yellow;
  border: solid 3px black;
  border-radius: 5px;

  display: flex;
  flex-flow: row nowrap;
}

div.widget-main {
  border-right: solid 3px black;
  width: 500px;
  margin: auto;
  padding: 10px;
  background-color: #61dafb;
}

div.widget-right {
  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
}

div.widget-right-top {
  width: 100%;
  border-bottom: solid 3px black;

  display: flex;
  flex-flow: row wrap;
  gap: 3px;
  align-items: center;
}
div.widget-right-mid {
  flex: 1;
}
div.widget-right-bottom {
  border-top: solid 3px black;   /* TODO: DEBUG!!!*/
}
div.widget-forecast {
  background-color: dimgrey;
  padding: 0 0.5em;
}

h2, h3 {
  color: white;
  text-align: center;
  font-size: 4em;
}
h3 {
  font-size: 3em;
}
h4 {
  font-size: 2em;
  text-align: center;
}
h5 {
  font-size: 1em;
}

img.icon {
  margin: auto;
  display: block;
}

p.center {
  text-align: center;
  font-size: 1.15em;
}
h5, p.forecast {
  text-align: center;
}